<div class="popup__add_collections-container">
    <div class="popup__add_collections-background"></div>

    <div class="page__add_collections">
        <div class="add_collections__title">Создание подборки</div>
        <div class="add_collections__btn-close">x</div>
        <div class="add_collections__collection-name">
            <h1>Название</h1>
            <input type="text" id="collection-name" placeholder="Например, «Для гриля» или «Торты»">
        </div>
        <div class="add_collections__checkbox">
            <input type="checkbox">
            <div class="add_collections__checkbox-text">
                <h4>Сделать подборку общедоступной</h4>
                <p>Другие пользователи смогут увидеть и добавить Вашу подборку <br> к себе в избранное.</p>
            </div>
        </div>
        <div class="add_collections__recept-list">
            <h4>Давайте добавим некоторые рецепты из Вашей коллекции</h4>
            <div class="recept-list__scroll_box">
                <div class="scroll_box__item">
                    <label for="recept_id">Салат с тунцом и зеленью</label>
                    <input type="checkbox" id="recept_id" name="recept_id" value="yes">
                </div>
                <div class="scroll_box__item">
                    <label for="recept_id">Салат с тунцом и зеленью</label>
                    <input type="checkbox" id="recept_id" name="recept_id" value="yes">
                </div>
                <div class="scroll_box__item">
                    <label for="recept_id">Салат с тунцом и зеленью</label>
                    <input type="checkbox" id="recept_id" name="recept_id" value="yes">
                </div>
                <div class="scroll_box__item">
                    <label for="recept_id">Салат с тунцом и зеленью</label>
                    <input type="checkbox" id="recept_id" name="recept_id" value="yes">
                </div>
                <div class="scroll_box__item">
                    <label for="recept_id">Салат с тунцом и зеленью</label>
                    <input type="checkbox" id="recept_id" name="recept_id" value="yes">
                </div>
                <div class="scroll_box__item">
                    <label for="recept_id">Салат с тунцом и зеленью</label>
                    <input type="checkbox" id="recept_id" name="recept_id" value="yes">
                </div>
                <div class="scroll_box__item">
                    <label for="recept_id">Салат с тунцом и зеленью</label>
                    <input type="checkbox" id="recept_id" name="recept_id" value="yes">
                </div>

            </div>
        </div>
        <div class="add_collections__btn-save">
            <button>Сохранить</button>
        </div>
    </div>

</div>