<div class="popup__add_collections-container">
    <div class="popup__add_collections-background"></div>

    <div class="page__add_collections">
        <div class="add_collections__title">Создание подборки</div>
        <div class="add_collections__btn-close">x</div>
        <form id="collection-form" enctype="multipart/form-data">
            <div class="add_collections__collection-name">
                {% csrf_token %}
                <h1>Название</h1>
                <input type="text" name="title" id="collection-name" placeholder="Например, «Для гриля» или «Торты»">
            </div>
            <div class="add_collections__checkbox">
                <input name="access" type="checkbox">
                <div class="add_collections__checkbox-text">
                    <h4>Сделать подборку общедоступной</h4>
                    <p>Другие пользователи смогут увидеть и добавить Вашу подборку <br> к себе в избранное.</p>
                </div>
            </div>

            <div class="add_collections__image">
                <h4>Загрузите обложку подборки</h4>
                <div class="container-add_content">
                    <label class="input-file-label" for="recipe_image">
                        <svg width="64" height="64">
                            <use id="file_add" href="#image_add"></use>
                        </svg>
                        <span id="title_file">Добавить файл</span>
                    </label>
                    <input class="input-file" id="recipe_image" name="picture" type="file" onchange="inputSelected()"
                           accept=".png, .jpg, .jpeg" required/>
                </div>
            </div>

            <div class="add_collections__recept-list">
                <h4>Давайте добавим некоторые рецепты из Вашей коллекции</h4>
                <div class="recept-list__scroll_box">
                    {% for recipe in favorites %}
                    <div class="scroll_box__item">
                        <label for="recept">{{ recipe.title }}</label>
                        <input type="checkbox" id="recept" name="recipes" value="{{ recipe.id }}">
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="add_collections__btn-save">
                <button class="save_selection" type="">Сохранить</button>
            </div>
        </form>
    </div>

</div>

<script>
    var csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        const saveSelectionButton = document.querySelector('.save_selection');


    saveSelectionButton.addEventListener('click', function () {

        var name = document.getElementById('collection-name').value;
        var selectedRecipes = Array.from(document.querySelectorAll('input[name="recipes"]:checked')).map(checkbox => checkbox.value);


<!--        var formData = new FormData();-->
        var formData = new FormData(document.getElementById('collection-form'));
<!--        formData.append('name', name);-->
<!--        formData.append('picture', picture);-->
<!--        formData.append('access', access);-->
        selectedRecipes.forEach(recipeId => {
            formData.append('recipes', recipeId);
        });

        // Отправляем POST-запрос
        fetch('/search/create_selection/', {
            method: 'POST',
            body: formData,
            credentials: 'same-origin',
            headers: {
                    "X-CSRFToken": csrfToken,
                    "X-Requested-With": "XMLHttpRequest",
            },
        })
        .then(response => response.json())
        .then(data => {
            console.log('Создана новая подборка:', data);
            // Дополнительные действия после успешного создания подборки
        })
        .catch(error => {
            console.error('Ошибка при создании подборки:', error);
        });

    });

</script>
