{% extends 'base_layout.html' %}

{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/collections_detail.css' %}">
{% endblock %}

{% block content %}

<main class="page__collections_detail">
    <div class="search__header">
            <div class="search-header__title">
<!--                <h1>Найти рецепт</h1>-->
                <h1>{{ collection.title }}</h1>
            </div>
            <div class="search-header__btn">
                <a href="{% url 'add_recipe' %}" class="search-header__btn-image">
                    <img src="{% static 'img/svg_image/addreciept.svg' %}" width="30" height="30" alt="Добавить свой рецепт">
                </a>
                <a href="{% url 'add_recipe' %}" class="search-header__btn-text">Добавить свой рецепт</a>
            </div>
    </div>

            <div class="article-content__title-and-grids">
                <h1>Найдено {{ num_recipes }} совпадений...</h1>
                <div class="article-content__btn-grids" id="sorter">
                    <span class="sorter-item" id="th__btn-3" role="button">
                        <svg width="30" height="30" class="icon-th__btn">
                            <use href="#icon-th"></use>
                        </svg>
                    </span>
                    <span class="sorter-item" id="large__btn-2" role="button">
                        <svg width="30" height="30" class="icon-th-large__btn">
                            <use href="#icon-th-large"></use>
                        </svg>
                    </span>
                    <span class="sorter-item active" id="th-list" role="button">
                        <svg width="30" height="30" class="icon-th-list__btn">
                            <use href="#icon-th-list"></use>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="article-content__container active-1">
            {% for recipe in recipes %}
                {% include 'recipes/recipe_card.html' %}
            {% endfor %}
            </div>
</main>
<script src="{% static 'js/save-comment.js' %}"></script>
{% endblock %}