{% extends 'base_layout.html' %}

{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/reciept_search.css' %}">
{% endblock %}

{% block content %}
<main class="page__recipe-search">
    <div class="search__header">
            <div class="search-header__title">
                <h1>Найти рецепт</h1>
            </div>
            <div class="search-header__btn">
                <a href="{% url 'add_recipe' %}" class="search-header__btn-orange">
                    <svg width="22" height="22">
				        <use href="#add_recipe-icon"></use>
                    </svg>
                    Добавить свой рецепт</a>
            </div>
    </div>
  <form method="post" action="{% url 'search' %}" id="search-form">
    <!--Поле поиска (верхнее)-->
    <div class="search__form" accept-charset="windows-1251">
        <input type="text" value="" name="title_search" placeholder="Блюдо">
    </div>

    <div class="search-form__btn-clear">
        <h1>Поиск по ингредиентам</h1>
        <button type="submit" id="">Сбросить</button>
    </div>

    <div class="recipe-search__content">
        <!--<div class="advertising"></div>-->
        <div class="search__field" >
            <div class="search-form__container">
                <div class="search__form-content">
                    <div class="search__form-ingredients" action="" method="get" accept-charset="windows-1251">
                        <input type="text" id="ingredient-search" name="ingredient_search" placeholder="Введите название ингридиента">
                    </div>

                    <div class="search-field__choice">
                        <h3>Быстрый выбор</h3>
                                {% csrf_token %}
                        <div class="available-ingredients">
                            {% for ingredient in ingredients %}
                            <div id="ingredient-buttons"></div>
                            <button type="button" class="ingredient-button" data-ingredient-id="{{ ingredient.id }}">{{ ingredient.name }}</button>
                            {% endfor %}
                        </div>
                        <div class="ingredients__container">
                            <div class="ingredients__container-title">
                            <h3>Вы выбрали:</h3>

                            </div>
                            <div class="selected-ingredients"></div>
                            <div class="ingredient__coincidence">
                                <label>
                                <input type="checkbox" id="coincidence" onclick="check();" name="coincidence" autocomplete="off" disabled/>
                                Только 100% совпадение
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fl_row">
                    <div class="sorting__container">
                        <div class="difficulty-container">
                            <div class="parameters__name-box">
                                <label for="difficulty">Сложность</label>
                            </div>
                            <select id="difficulty" name="difficulty">
                                <option value="Все">Все</option>
                                <option value="Легко">Легкая</option>
                                <option value="Средняя">Средняя</option>
                                <option value="Сложно">Сложная</option>
                            </select>
                        </div>

                        <div class="parameters__name-box">
                            <label for="search-sorting">Сортировать по</label>
                        </div>
                        <select id="search-sorting" name="sorting">
                            <option value="popularity">Популярность</option>
                            <option value="difficulty">Сложность</option>
                            <option value="cookingTime">Время приготовления</option>
                            <option value="Дата публикации">Дата публикации</option>
                        </select>
                        <div class="parameters__name-box">
                            <label>Время приготовления</label>
                        </div>
                        <div class="time-container">
                            <p>от</p>
                            <input type="number" maxlength="3" max="200" min="1" name="cooking_time-start" id="cooking_time-start">
                            <p>- до</p>
                            <input type="number" maxlength="3" max="999" min="1" name="cooking_time-end" id="cooking_time-end">
                            <p>мин.</p>
                        </div>
                    </div>
                    <div class="search_bnt-container">
                        <button class="ingredient__coincidence_btn-search" type="submit">Найти</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </form>
            <div class="article-content__title-and-grids">
                <h1>Найдено {{ num_recipes }} совпадений...</h1>
                <div class="article-content__btn-grids" id="sorter">
                    <span class="sorter-item" id="th__btn-3" role="button">
                        <svg width="30" height="30" class="icon-th__btn">
                            <use href="#icon-th"></use>
                        </svg>
                    </span>
                    <span class="sorter-item" id="large__btn-2" role="button">
                        <svg width="30" height="30" class="icon-th-large__btn">
                            <use href="#icon-th-large"></use>
                        </svg>
                    </span>
                    <span class="sorter-item active" id="th-list" role="button">
                        <svg width="30" height="30" class="icon-th-list__btn">
                            <use href="#icon-th-list"></use>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="article-content__container active-1">
            {% for recipe in page_obj %}
                {% include 'recipes/recipe_card.html' %}
            {% endfor %}
            </div>
            {% if page_obj %}
            <div class="pagination">
                {% include 'recipes/paginator.html' %}
<!--                <span class="pagination-btn switch"><</span>-->
<!--                <a href="#" class="pagination-btn active">1</a>-->
<!--                <a href="#" class="pagination-btn">2</a>-->
<!--                <a href="#" class="pagination-btn">3</a>-->
<!--                <span class="pagination-btn&#45;&#45;points">...</span>-->
<!--                <a href="#" class="pagination-btn">20</a>-->
<!--                <span class="pagination-btn switch">></span>-->
            </div>
            {% endif %}
</main>
<script src="{% static 'js/save-comment.js' %}"></script>
{% endblock %}