{% load static %}

<article class="index__article-content">
    <div class="index-article__img">
        <a href="">
            <img class="article__img" src="{{ recipe.picture }}" alt="" />
        </a>
    </div>
    <div class="index-article-section">
        <div class="index-article_content-block">
            <h1 class="index-article__title"><a href="">{{ recipe.title }}</a></h1>
            <p class="index-article__text"><a href="">{{ recipe.description }}</a></p>
        </div>
        <ul class="index-article__list">
            <li class="index-article__items">
                <div class="index-article-item1">
                    <a href="#" class="index-item__image">
                        <img src="{% static 'img/svg_image/comment.svg' %}" alt=""/>
                        22
                    </a>

                    <a href="#" class="index-item__image">
                        <img src="{% static 'img/svg_image/favorites.svg' %}" alt=""/>
                        522
                    </a>
                </div>
                <div class="index-article-item2">
                    <a href="#" class="index-item__image">
                        <img src="{% static 'img/svg_image/favorites_noneselect.svg' %}" alt=""/>
                        Добавить в избранное!
                    </a>
                </div>

            </li>
            <li class="index-article__item2">
                <p class="index-item_ingredients">{% for ingredient in recipe_ingr %}{% endfor %}</p>
            </li>
        </ul>
    </div>
</article>