{% extends 'base_layout.html' %}
{% load static %}

{% block title %}Профиль {{ user.username }}{% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/editing_profile.css' %}">
{% endblock %}
{% block content %}



<main class="page__editing">
    <div class="editing-header">
        <div class="btn_back">
            <a href="#" onclick="history.back(-1);">
                <svg width="30" height="30">
                    <use href="#btn-back-icon"></use>
                </svg>
                НАЗАД</a>
        </div>
        <div class="editing-title">
            <span>Редактировать профиль</span>
        </div>
        <div class="none"></div>
    </div>
    <div class="editing-content">
        <div class="tabs">
			<span><a class="tab__link active" id="tab__link-editing" href="#tab_area_editing" onclick="return false">Редактировать профиль</a></span>
			<span><a class="tab__link" id="tab__link-secure" href="#tab_area_secure" onclick="return false">Почта и пароль</a></span>
		</div>
		<form method="post" enctype="multipart/form-data" name="profile-edit">
            {% csrf_token %}
            <div class="areas">
                <div class="tab_area" id="tab_area_editing" style="display: block;">
                    <div class="profile__img">
                        <img class="rounded-circle account-img" src="{{ user.avatar.url }}">
                        <div class="fl_column">
                            <label for="profile_picture">Фотография
                                <input type="file" id="profile_picture" name="avatar" accept="image/*"/>
                                <span>Изменить</span>
                            </label>
                        </div>
                    </div>
                    <div class="area_section">
                        <label>Имя</label>
                        <input id="name" class="text-input" type="text" name="name" value="{{ user.name }}" placeholder="Введите ваше имя"/>
                    </div>
                    <div class="area_section">
                        <label>@nickname</label>
                        <input class="text-input" type="text" value="{{ user.nickname }}" name="nickname" placeholder="Введите ваш никнейм"/>
                    </div>
                    <div class="area_section">
                        <label>Описание</label>
                        <textarea placeholder="Описание"></textarea>
                        <p>До 114 символов</p>
                    </div>
                </div>
                <div class="tab_area" id="tab_area_secure" style="display: none;">
                    <div class="area_section">
                        <label>Адрес электронной почты</label>
                        <input class="text-input" type="text" value="{{ user.email }}" name="email" placeholder="Введите почту @"/>
                    </div>
                    <div class="area_section">
                        <label>Старый пароль</label>
                        <div class="password">
                            <input class="password-input" id="password_old" type="password" name="password"
                                   placeholder="Введите старый пароль"/>
                            <a href="#password_old" class="password-control"></a>
                        </div>
                    </div>
                    <div class="area_section">
                        <label>Новый пароль</label>
                        <div class="password">
                            <input class="password-input" id="password_new" type="password" name="password1"
                                   placeholder="Введите новый пароль"/>
                            <a href="#password_new" class="password-control"></a>
                        </div>
                    </div>
                    <div class="area_section">
                        <label>Повторите новый пароль</label>
                        <div class="password">
                            <input class="password-input" id="password_renew" type="password" name="password2"
                                   placeholder="Повторите новый пароль"/>
                            <a href="#password_renew" class="password-control"></a>
                        </div>
                    </div>

                    <div class="personal_data-info">
                        <label>Персональные данные</label>
                    </div>

                    <div class="area_section">
                        <label>Дата рождения</label>
                        <input class="input-date" value="{{ user.date_of_birth|date:'Y-m-d' }}" name="birth_date" type="date" pattern="\d{2}/\d{2}/\d{4}"/>
                    </div>
                    <div class="area_section">
                        <label>Пол</label>
                        <div class="fl_row">
                            <span class="radio_btn"><input type="radio" name="gender" value="Женский" {% if user.gender == "Женский" %}checked{% endif %}/>Женский</span>
                            <span class="radio_btn"><input type="radio" name="gender" value="Мужской" {% if user.gender == "Мужской" %}checked{% endif %}/>Мужской</span>
                        </div>
                    </div>
                    <div class="area_section">
                        <label>Страна</label>
                        <input class="text-input" type="text" placeholder="Страна"/>
                    </div>
                </div>
                <div class="btn-save">
                    <button type="submit">Сохранить</button>
                </div>
            </div>
        </form>
        </div>

    </div>

</main>




{% endblock %}

{% block script %}
    <script src="{% static 'js/tabs.js' %}"></script>
{% endblock %}