<div class="background__login-container">
    <div class="background__login"></div>
    <div class="container__login">

        <h1>СОЛЬ ПО ВКУСУ</h1>
        <h3>Вход</h3>
        <form class="registration-form" action='../account/login/' method="post">
            {% csrf_token %}

            <label class="col-one-whole">
                <span class="label-text">ИМЯ ПОЛЬЗОВАТЕЛЯ/ЭЛЕКТРОННАЯ ПОЧТА</span>
<!--                {{ form.username }}-->
                <input type="text" name="username"
                       autofocus="" autocapitalize="none"
                       autocomplete="username" maxlength="100"
                       required="" id="id_username"
                >
            </label>

            <label class="col-one-whole">
                <span class="label-text">ПАРОЛЬ</span>
              <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
<!--                {{ form.password }}-->
            </label>

            <div class="button-login">
                <button type="submit">ВОЙТИ</button>
                <a href="{% url 'registration' %}">У ВАС НЕТ УЧЕТНОЙ ЗАПИСИ?</a>
                <a href="#">ЗАБЫЛИ ПАРОЛЬ?</a>
            </div>


            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <label>
                <input type="checkbox" class="alertCheckbox" autocomplete="off"/>
                <div class="alert error">
                    <span class="alertClose">X</span>
                    <span class="alertText">{{message}}
                    <br class="clear"/></span>
                </div>
            </label>
            {% endif %}
            {% endfor %}
            {% endif %}

        </form>

    </div>
</div>


<!--{% block title %}Авторизация{% endblock %}-->

<!--{% block content %}-->

<!--<div class="container__login">-->
<!--        <h1>СОЛЬ ПО ВКУСУ</h1>-->
<!--        <h3>Вход</h3>-->
<!--    <form class="registration-form" method="post">-->
<!--        {% csrf_token %}-->
<!--        <label class="col-one-whole">-->
<!--            <span class="label-text">ИМЯ ПОЛЬЗОВАТЕЛЯ/ЭЛЕКТРОННАЯ ПОЧТА</span>-->
<!--            {{ form.username }}-->
<!--        </label>-->

<!--        <label class="col-one-whole">-->
<!--            <span class="label-text">ПАРОЛЬ</span>-->
<!--            {{ form.password }}-->
<!--        </label>-->

<!--        <div class="button-login">-->
<!--            <button type="submit">ВОЙТИ</button>-->
<!--            <a href="{% url 'registration' %}">У ВАС НЕТ УЧЕТНОЙ ЗАПИСИ?</a>-->
<!--            <a href="#">ЗАБЫЛИ ПАРОЛЬ?</a>-->
<!--        </div>-->


<!--                   {% if messages %}-->
<!--            {% for message in messages %}-->
<!--            {% if message.tags == 'error' %}-->
<!--            <label>-->
<!--                <input type="checkbox" class="alertCheckbox" autocomplete="off"/>-->
<!--                <div class="alert error">-->
<!--                    <span class="alertClose">X</span>-->
<!--                    <span class="alertText">{{message}}-->
<!--                    <br class="clear"/></span>-->
<!--                </div>-->
<!--            </label>-->
<!--            {% endif %}-->
<!--            {% endfor %}-->
<!--            {% endif %}-->

<!--    </form>-->

<!--</div>-->

<!--{% endblock %}-->
