{% extends 'base_layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}

<div class="container-1">
        <h1>СОЛЬ ПО ВКУСУ</h1>
        <h3>Вход</h3>
    <form class="registrationq-form" method="post">
        {% csrf_token %}
        <label class="col-one-whole">
            <span class="label-text">ИМЯ ПОЛЬЗОВАТЕЛЯ/ЭЛЕКТРОННАЯ ПОЧТА</span>
            {{ form.username }}
        </label>

        <label class="col-one-whole">
            <span class="label-text">ПАРОЛЬ</span>
            {{ form.password }}
        </label>

        <div class="button-login">
            <button type="submit">ВОЙТИ_btn</button>
            <a href="{% url 'registration' %}" class="shine-button">ВОЙТИ</a>
            <a href="#">У ВАС НЕТ УЧЕТНОЙ ЗАПИСИ?</a>
            <a href="{% url 'home' %}">home</a>
            <a href="#">ЗАБЫЛИ ПАРОЛЬ?</a>
        </div>

    </form>

</div>

{% endblock %}
