{% extends 'base_layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}

<div class="container-1">
        <h1>СОЛЬ ПО ВКУСУ</h1>
        <h3>Вход</h3>
    <form class="registration-form">
        <label class="col-one-whole">
            <span class="label-text">ЭЛЕКТРОННАЯ ПОЧТА/ИМЯ ПОЛЬЗОВАТЕЛЯ</span>
            <input type="text" id="name" placeholder="">
        </label>

        <label class="col-one-whole">
            <span class="label-text">ПАРОЛЬ</span>
            <input type="text" id="password" placeholder="">
        </label>
        <div class="button-login">
            <a href="{% url 'registrations' %}" class="shine-button">ВОЙТИ</a>
            <a href="#">У ВАС НЕТ УЧЕТНОЙ ЗАПИСИ?</a>
            <a href="#">ЗАБЫЛИ ПАРОЛЬ?</a>
        </div>
    </form>

</div>

{% endblock %}
