{% extends 'base_layout.html' %}
{% load static %}

{% block title %}Профиль {{ user.username }}{% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/add_collections.css' %}">
{% endblock %}
{% block content %}



<main class="page__profile">
	<!--<img class="profile_background" src="{% static 'img/background/profile-background.png' %}" alt="">-->
	<section class="profile_header__bnt">
		<div class="header__bnt-reply header_bnt">
			<svg width="24" height="24">
				<use href="#reply"></use>
			</svg>
			<p>Поделиться</p>
		</div>
		{% if user.is_authenticated and user == profile %}<div class="header__bnt-settings header_bnt">
			<svg width="18" height="18">
				<use href="#settings"></use>
			</svg>
			<p><a href="{% url 'profile_edit' %}">Редактировать профиль</a></p>
		</div>
		<div class="header__bnt-more header_bnt">
			<svg width="20" height="20">
				<use href="#more"></use>
			</svg>
			<p>Еще</p>
		</div>{% endif %}
	</section>
	<section class="profile__header">
		<div class="profile__header-top">
			<div class="profile__settings">
				<ul>
					<li id="followers_count" class="count">{{ profile.get_sum_followers }}</li>
					<li><a href="{% url 'subscribers' profile.pk %}">подписчики</a></li>
				</ul>
				{% if user.is_authenticated and profile != user %}{% if profile.id in subscriptions %}<a class="bnt-subscribe" id="subscriptionBtn" data-profile-id="{{ profile.id }}">Вы подписаны</a>{% else %}<a class="bnt-subscribe active" id="subscriptionBtn" data-profile-id="{{ profile.id }}">Подписаться</a>{% endif %}{% endif %}
			</div>
			<div class="account">
				<img class="rounded-circle account-img" src="{{ profile.avatar.url }}">
				<ul>
					<li id="username">{{ profile.name }}</li>
					<li>@{{ profile.nickname }}</li>
				</ul>
			</div>
			<div class="profile__settings">
				<ul>
					<li id="following_count" class="count">{{ profile.get_sum_following }}</li>
					<li><a href="{% url 'subscriptions' profile.pk %}">подписки</a></li>
				</ul>
			</div>
		</div>
		<div class="profile__header-bottom">
			<p>Добро пожаловать на мою страницу! Здесь я делюсь своими<br/> любимыми рецептами! 👩‍🍳😊</p>
		</div>
	</section>
	<section class="profile_tabs">
		<div class="tabs">
			<span onclick="loadContent('recipes')"><a class="tab__link active" id="tab__link-recipe" href="#tab_area_recipe" onclick="return false">{% if user.is_authenticated and user == profile %}МОИ {% endif %}РЕЦЕПТЫ</a></span>
			{% if user.is_authenticated and user == profile %}<span onclick="loadContent('collections')"><a class="tab__link" id="tab__link-fav" href="#tab_area_fav" onclick="return false">СОХРАНЕННЫЕ</a></span>{% else %}<span onclick="loadContent('collections')"><a class="tab__link" id="tab__link-fav" href="#tab_area_fav" onclick="return false">ПОДБОРКИ</a></span>{% endif %}
		</div>
		<div class="areas">
			<div class="tab_area" id="tab_area_recipe" style="display: block;">
				<!--Если ничего нет то выводится это:-->
				<!--<div class="tab_area-none_content">
					<img class="account__none_content" src="{% static 'img/none__content.png' %}" alt="">
					<p class="account__none_content-text">Здесь пока пусто</p>
				</div>-->
				<!------------------------------------->
				{% if recipes %}
					{% for recipe in recipes %}

						{% if profile == user or recipe.access == 'public' %}
                			{% include 'recipes/recipe_card.html' %}
						{% endif %}
            		{% endfor %}
				{% else %}
						<div class="tab_area-none_content">
							<img class="account__none_content" src="{% static 'img/none__content.png' %}" alt="">
							<p class="account__none_content-text">Здесь пока пусто</p>
						</div>
				{% endif %}
			</div>
			<div class="tab_area" id="tab_area_fav" style="display: none;">
				<div class="collection__list">
					{%if selections %}
						{% for selection in selections %}
							{% if profile == user or recipe.access == public %}
        						<div class="collection__item">
        						    <a href="{% url 'collections-detail' selection.pk %}">
        						        <div class="collection__item-img">
        						            <img src="{{ selection.picture }}" alt="">
        						        </div>
        						    </a>
        						    <div class="collection__item-name">
        						        {{ selection.title }}
        						    </div>
        						</div>
							{% endif %}
        				{% endfor %}
					{% else %}
						<div class="tab_area-none_content">
							<img class="account__none_content" src="{% static 'img/none__content.png' %}" alt="">
							<p class="account__none_content-text">Здесь пока пусто</p>
						</div>
					{% endif %}
				</div>

			</div>
		</div>
	</section>
</main>
{% include 'collections/add_collections.html' %}



{% endblock %}

{% block script %}
    <script src="{% static 'js/tabs.js' %}"></script>
	<script src="{% static 'js/save-comment' %}"></script>
	<script src="{% static 'js/subscription.js' %}"></script>
{% endblock %}