{% extends 'base_layout.html' %}
{% load static %}

{% block title %}Профиль {{ user.username }}{% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block content %}



<main class="page__profile">
	<img class="soup" src="{% static 'img/background/soup.png' %}" alt="">
	<img class="pizza" src="{% static 'img/background/pizza.png' %}" alt="">
	<section class="profile__header">
		<div class="profile__settings">
			<ul>
				<li>Поделиться профилем</li>
				<li>Изменить профиль</li>
			</ul>
		</div>
		<div class="account">
			<img class="rounded-circle account-img" src="{{ user.avatar.url }}">
			<ul>
				<li>@{{ user.nickname }}</li>
				<li>{{ user.name }}</li>
			</ul>
		</div>
		<div class="account__subscriptions">
			<ul>
				<li>Подписчиков: {{ user.get_sum_followers }}</li>
				<li>Подписок: {{ user.get_sum_following }}</li>
			</ul>
		</div>
	</section>

</main>


<!--<div class="content-section" style="margin: 120px;">
  	<div class="media">
    	<img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
    	<div class="media-body">
      	<h2 class="account-heading">{{ user.username }}</h2>
  	    <p class="text-secondary">{{ user.email }}</p>
    	</div>
  	</div>
  	&lt;!&ndash; Здесь будет форма &ndash;&gt;
</div>-->

{% endblock %}