{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}

<div class="container-1">
        <h1>СОЛЬ ПО ВКУСУ</h1>
        <h3>Регистрация</h3>
    <form class="registration-form">
        <label class="col-one-half">
            <span class="label-text">ИМЯ</span>
            <input type="text" id="name" placeholder="">
        </label>
        <label class="col-one-half">
            <span class="label-text">НИКНЕЙМ</span>
            <input type="text" id="nickname" placeholder="">
        </label>
        <label class="col-one-whole">
            <span class="label-text">ЭЛЕКТРОННАЯ ПОЧТА</span>
            <input type="text" id="mail" placeholder="">
        </label>
        <label class="col-one-half">
            <span class="label-text">ПАРОЛЬ</span>
            <input type="text" id="password" placeholder="">
        </label>
        <label class="col-one-half">
            <span class="label-text">ПОВТОРИТЕ ПАРОЛЬ</span>
            <input type="text" id="repassword" placeholder="">
        </label>
        <label class="checkbox">
            <input type="checkbox" id="politics" onclick="check();" value="" autocomplete="off"/><a href="ссылка на страницу согласия">Cогласие на обработку персональных данных.</a>
        </label>
        <div class="button-reg">
            <input type="submit" name="submit" class="submit" disabled="" value="ЗАРЕГИСТРИРОВАТЬСЯ" />
            <a href="#">У МЕНЯ УЖЕ ЕСТЬ УЧЕТНАЯ ЗАПИСЬ</a>
        </div>
    </form>
        <script>
        function check() {
        var submit = document.getElementsByName('submit')[0];
        if (document.getElementById('politics').checked)
        submit.disabled = '';
        else
        submit.disabled = 'disabled';
        }
        </script>
</div>

{% endblock %}
