{% extends 'base_layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}

<div class="container__login">
        <h1>СОЛЬ ПО ВКУСУ</h1>
        <h3>Регистрация</h3>

    <form class="registration-form" method="post">
            {% csrf_token %}

            <label class="col-one-half">
                <span class="label-text">{{ form.name.label }}</span>
                {{ form.name }}
            </label>
            <label class="col-one-half">
                <span class="label-text">{{ form.nickname.label }}</span>
                {{ form.nickname }}
            </label>
            <label class="col-one-whole">
                <span class="label-text">{{ form.email.label }}</span>
                {{ form.email }}
            </label>
            <label class="col-one-half">
                <span class="label-text">ПАРОЛЬ</span>
                {{ form.password1 }}
            </label>
            <label class="col-one-half">
                <span class="label-text">ПОВТОРИТЕ ПАРОЛЬ</span>
                {{ form.password2 }}
            </label>

        <label class="checkbox">
            <input type="checkbox" id="politics" onclick="check();" value="" autocomplete="off"/><a href="ссылка на страницу согласия">Cогласие на обработку персональных данных.</a>
        </label>
        <div class="button-login">
            <button type="submit">ЗАРЕГИСТРИРОВАТЬСЯ</button>
            <a href="{% url 'login' %}">У МЕНЯ УЖЕ ЕСТЬ УЧЕТНАЯ ЗАПИСЬ</a>
        </div>
    </form>
</div>

{% endblock %}
