{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
<!--    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
    <!-- Navigation bar -->
    <header class="header">
    <div class="header-area">
        <!-- Logo -->
        <div class="nav-logo">
            <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="" width="30" height="40"></a>
            <a href="{% url 'home' %}" class="logo">Соль по вкусу</a>
        </div>
        <!-- Hamburger icon -->
        <input class="side-menu" type="checkbox" id="side-menu"/>
        <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
        <!-- Menu -->

        <nav class="nav-menu">
            <ul class="menu">
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="#">Рецепты</a></li>
                <li><a href="#">Избранное</a></li>
                <li id="menu-auth"><a href="#">Авторизация</a></li>
            </ul>
        </nav>
        <div class="header-search">
            <form action="" target="_blank" class="form-search">
              <input type="hidden" name="searchid" value="808327">
              <input type="search" name="text" required placeholder="Поиск по сайту">
            </form>
        </div>
        <div class="header-profile">
            <a href="{% url 'login' %}" class="shine-button">Войти</a>
           <a href="{% url 'registrations' %}" class="shine-button">Зарегистрироваться</a>
        </div>
    </div>
    </header>
    {% block content %}
    {% endblock %}

</body>
</html>
<!-- <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="" width="30" height="40"></a>
                    <a href="{% url 'home' %}" class="logo">Соль по вкусу</a>
                    <div class="navbar-wrap">
                        <ul class="navbar-menu">
                            <li><a href="{% url 'home' %}">Главная</a></li>
                            <li><a href="#">Рецепты</a></li>
                            <li><a href="#">Избранное</a></li>
                        </ul>
                    </div>
                    <form class="search-box">
                        <span class="icon"><i class="fa fa-search"></i></span>
                        <input type="search" id="search" placeholder="Поиск">
                    </form>
                    <div class="navbar-profile">
                        <ul class="profile-menu">
                            <li><a href="{% url 'login' %}" class="shine-button">Войти</a></li>
                            <li><a href="{% url 'registrations' %}" class="shine-button">Зарегистрироваться</a></li>
                        </ul>--!>
                       <!--
                            <li><a href="#">Профиль</a></li>

                        <img src="{% static 'img/ProfileIcon.png' %}" alt="" width="45" height="45">-->