{% extends 'base_layout.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}

    <main class="page_index">
        <section class="header-index">
        <section class="header-index__section">
            <h1 class="header__index-title">Добро пожаловать<br>в <q>Соль по вкусу</q>!</h1>
            <p class="header__index-text">Упростите выбор блюда для приготовления</p>
            <h3 class="header__index-title--h3">Расширенный поиск рецепта по ингредиентам</h3>
            <input class="header__index-link" type="button" src="#" value="Введите название ингредиентов, а мы найдем совпадение до 100%"/>
            <ul class="header__index-list">
                <li class="header__index-item">
                    <svg width="55" height="55">
				        <use href="#fav_icon-enable"></use>
                    </svg>
                    <p class="header__index-item-text">Добавляйте понравившиеся<br>рецепты в подборки</p>
                </li>
                <li class="header__index-item">
                     <svg width="55" height="55">
				        <use href="#comment-icon"></use>
                    </svg>
                    <p class="header__index-item-text">Делитесь впечатлениями</p>
                </li>
                <li class="header__index-item">
                    <svg width="55" height="55">
				        <use href="#add_recipe-icon"></use>
                    </svg>
                    <p class="header__index-item-text">Записывайте свои рецепты и/или<br>делитесь ими с другими</p>
                </li>
            </ul>
        </section>
        <section class="header-image-section" >
            <img class="header-image-item" src="{% static 'img/hamburger.png' %}" alt="">
        </section>
            </section>
        <section class="index-article">
            <h1 class="header__index-title">Что у нас сегодня вкусненького?</h1>
            <div class="index-article__img">
                <img class="article-image-background" src="{% static 'img/chicken.png' %}" alt="">
                <img class="article-image-svg" src="{%static 'img/svg_image/image22.svg'%}" alt="" width="66" height="44">
            </div>

           <div class="article-content__container">
            {% for recipe in recipes %}
                {% include 'recipes/recipe_card.html' %}
            {% endfor %}
            </div>
            <div class="pagination">
                <span class="pagination-btn switch"><</span>
                <a href="#" class="pagination-btn active">1</a>
                <a href="#" class="pagination-btn">2</a>
                <a href="#" class="pagination-btn">3</a>
                <span class="pagination-btn--points">...</span>
                <a href="#" class="pagination-btn">20</a>
                <span class="pagination-btn switch">></span>
            </div>
        </section>
        <section class="index__footer">
            <h1>Регистрируйтесь и ведите свою
                <br>электронную книгу рецептов бесплатно</h1>
            <div class="footer__img">
                <img src="{% static 'img/footer_index.png' %}" alt=""/>
            </div>
        </section>
    </main>
<script src="{% static 'js/save-comment.js' %}"></script>
{% endblock %}




<!--{% load static %}-->




<!--    <div class="container-2">-->
<!--        <h1>Добро пожаловать в “Соль по вкусу”!</h1>-->
<!--        <div class="one-half">-->
<!--            <div class="cont-1">-->
<!--                <p>Создайте свою книгу рецептов</p>-->
<!--                <p class="cont-line">Делитесь мнением <img src="{% static 'img/serdce.png' %}" alt="" width="41" height="41"></p>-->
<!--                <p>Публикуйте свои рецепты</p>-->
<!--            </div>-->
<!--            <div class="cont-search">-->
<!--                    <p>Воспользуйтесь нашим расширенным поиском рецептов!</p>-->
<!--                 <div class="content-search-center">-->
<!--                    <div class="content-search-img">-->
<!--                        <img class="images-1" src="{% static 'img/strelka.png' %}" alt="" width="136" height="136">-->
<!--                    </div>-->
<!--                    <div class="one-half-search">-->
<!--                            <div class="one-half-search-1">-->
<!--                                <p>Что у вас есть?</p>-->
<!--                            </div>-->
<!--                        <div class="one-half-search-2">-->
<!--                             <form class="search-box-index">-->
<!--                                    <span class="icon"><i class="fa fa-search"></i></span>-->
<!--                                    <input type="search" id="search" placeholder="Поиск">-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="popular-recept">-->
<!--            <h3>Популярно сегодня</h3>-->
<!--        </div>-->
<!--    </div>-->
