.popup__add_collections-container {
    opacity: 0;
    visibility: hidden;
}
.popup__add_collections-container_active {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}
.popup__add_collections-container_active .popup__add_collections-background {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.page__add_collections {
    display: block;
    position: fixed;
    margin: auto;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 600px;
    height: 570px;
    z-index: 10;
    border-radius: 10px;
    padding: 20px 60px;
}
.add_collections__title {
    text-align: center;
    color: #2F2929;
    font-size: 26px;
    font-weight: 700;
}
.add_collections__btn-close {
    position: absolute;
    top: 2px;
    right: 13px;
    font-weight: 500;
    font-size: 30px;
    color: #454141;
    transform: scale(121%, 99%);
    cursor: pointer;
}
.add_collections__btn-close:hover {
    transform: scale(125%, 99%);
    color: #000;
}

.add_collections__collection-name {
    margin: 30px 0 20px 0;
    h1 {
        color: #2F2929;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 0.5px;
        line-height: 25px;
        margin-bottom: 5px;
    }
    input {
        width: 100%;
        height: 40px;
        border-radius: 10px;
        border: 2px solid rgba(26, 26, 26, 0.30);
        background: rgba(217, 217, 217, 0.00);
        font-family: Tilda Sans VF;
        color: rgba(47, 41, 41, 0.50);
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 25px;
        padding: 0px 20px;
    }
}
.add_collections__checkbox {
    display: flex;
    align-items: flex-start;
    input {
        margin: 6px 10px;
        cursor: pointer;
    }
    h4 {
        color: #2F2929;
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0.8px;
    }
    p {
        color: #2F2929;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.5px;
    }
}
.add_collections__recept-list {
    margin: 30px 0;
    h4 {
        color: #2F2929;
        leading-trim: both;
        text-edge: cap;
        font-size: 17px;
        font-weight: 500;
        line-height: 25px; /* 120% */
        letter-spacing: 0.5px;
    }
}

.recept-list__scroll_box {
    width: 100%;
    margin-top: 10px;
    height: 182px;
    border-radius: 10px;
    border: 2px solid rgba(26, 26, 26, 0.30);
    background: rgba(217, 217, 217, 0.00);
    overflow: auto;
}
.recept-list__scroll_box::-webkit-scrollbar {
    width: 7px;
    background-color: none;
}
.recept-list__scroll_box::-webkit-scrollbar-thumb {
    background-color: #7d7c7c;
    border-radius: 10px;
}


.scroll_box__item {
    display: flex;
    padding: 5px 20px;
    border-bottom: 1px solid rgba(26, 26, 26, 0.30);
    input {
        margin-left: auto;
        cursor: pointer;
    }
    label {
        font-family: Tilda Sans VF;
        color: rgba(47, 41, 41, 0.90);
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
    }
}
.add_collections__btn-save {
    display: flex;
    justify-content: center;
    button {
        border-radius: 6px;
        background: #6BB420;
        color: var(--default-white, #FFF);
        font-size: 16px;
        font-weight: 600;
        line-height: 18px;
        padding: 10px 25px;
        border: none;
        cursor: pointer;
    }

}