.page__editing {
    padding: 40px 15px;
    width: 80%;
    margin: 100px auto;
    border-radius: 30px;
    background: var(--default-white, #FFF);
    box-shadow: 0px 0px 12px -5px rgba(73, 63, 63, 0.60);
}

.editing-header {
    display: flex;
    justify-content: space-around;
    a {
        display: flex;
        align-items: center;
        color: rgba(47, 41, 41, 0.54);
        font-size: 18px;
        font-weight: 800;
        line-height: 40px; /* 200% */
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
        svg {
            margin-right: 5px;
        }
        &:hover {
            color: #000;
        }
    }
    .editing-title {

    }
    .btn_back {
    }
    .none {
        width: 100px;
    }
    span {
        color: #2F2929;
        font-size: 22px;
        font-weight: 800;
        line-height: 40px; /* 160% */
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 0 15px;
    }
}
.editing-content {
    display: flex;
    width: 100%;
    .tabs {
        display: flex;
        flex-direction: column;
        width: 30%;
        padding: 70px 30px;
        .tab__link {
            color: #2F2929;
            font-size: 16px;
            font-weight: 800;
            line-height: 40px; /* 222.222% */
            letter-spacing: 1px;
            border: none;
            cursor: pointer;
            &:hover {
                border-bottom: 2px solid gray;
            }
            &.active {
                border-bottom: 2px solid #000;
                cursor: default;
            }
        }
    }
    .areas {
        width: 70%;
        padding: 20px;
        display: flex;
        flex-direction: column;
            .area_section {
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: flex-start;
                margin: 15px;
                .text-input {
                    position: relative;
                    width: 300px;
                    height: 40px;
                    border-radius: 10px;
                    border: 2px solid rgba(26, 26, 26, 0.30);
                    background: rgba(217, 217, 217, 0.00);
                    color: #2F2929;
                    font-family: Tilda Sans VF;
                    font-size: 18px;
                    font-weight: 400;
                    letter-spacing: 1px;
                    padding: 0 15px;
                    &::placeholder {
                        font-size: 16px;
                    }
                }
                textarea {
                    width: 80%;
                    height: 80px;
                    border-radius: 19px;
                    border: 2px solid rgba(26, 26, 26, 0.30);
                    background: rgba(217, 217, 217, 0.00);
                    padding: 10px 15px;
                    color: #2F2929;
                    font-family: Tilda Sans VF;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: normal;
                    &::placeholder {
                        font-size: 16px;
                    }
                }
                p {
                    display: flex;
                    width: 80%;
                    justify-content: flex-end;
                    padding-right: 20px;
                    color: rgba(47, 41, 41, 0.54);
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 30px; /* 187.5% */
                    letter-spacing: 1px;
                }
                label {
                    padding-bottom: 7px;
                    color: #2F2929;
                    font-family: Tilda Sans VF;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 30px; /* 166.667% */
                    letter-spacing: 1px;
                }
            }
        button {
            border: none;
            border-radius: 6px;
            background: #6BB420;
            color: var(--default-white, #FFF);
            font-size: 18px;
            font-weight: 600;
            padding: 5px 15px;

        }
    }
}
.profile__img {
    display: flex;
    align-items: center;
    input[type=file] {
        display: none;
    }
    label {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    span {
        border-radius: 15px;
        background-color: rgba(154, 152, 152, 0.40);
        border: none;
        padding: 5px 15px;
        margin-top: 7px;
        color: var(--default-white, #FFF);
        font-family: Tilda Sans VF;
        font-size: 18px;
        font-weight: 600;
        &:hover {
            color: #ccc !important;
            background: #6BB420;
            background: linear-gradient(to top, #6BB420, #0a9e0d);
        }
    }
    .account-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 20px;
    }
}

.fl_column {
    display: flex;
    flex-direction: column;
}
.password {
    display: flex;
    align-items: center;
    height: 40px;
    width: 300px;
    padding-left: 15px;
    border-radius: 10px;
    border: 2px solid rgba(26, 26, 26, 0.30);
    background: rgba(217, 217, 217, 0.00);
    .password-input {
        height: 36px;
        width: 100%;
        border: none;
        color: #2F2929;
        font-family: Tilda Sans VF;
        font-size: 18px;
        font-weight: 400;
        &::placeholder {
            font-size: 16px;
        }
    }
    .password-control {
        display: flex;
        align-items: center;
        width: 26px;
        height: 20px;
        margin: 0 15px;
	    background: url("../img/svg_image/show_password.svg") no-repeat;
	    &.hide {
	        background: url("../img/svg_image/hide_password.svg") no-repeat;
	        width: 26px;
            height: 20px;
        }
    }

}

.btn-save {
    padding: 0 15px;
}
.input-date {
    height: 40px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid rgba(26, 26, 26, 0.30);
    background: rgba(217, 217, 217, 0.00);
    padding: 0 15px;
}