
.index__article-content {
    display: flex;
    border-radius: 52px;
    border: 1px solid #CBC8C8;
    background: #FDF5F5;
    height: 300px;
    margin: 15px 0;
    width: 100%;


    .index-article__img {

        img {
            border-radius: 52px 0 0 52px;
              width: 400px;
              height: 100%;
        }
    }
    .index-article-section {

        padding: 36px 37px 35px 58px;
        width: 100%;

        .index-article_content-block {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 7;
            -webkit-box-orient: vertical;
            height: 153px;
            .index-article__header {
                display: flex;
                justify-content: space-between;
                h1 {
                    text-align: justify;
                    font-size: 24px;
                    font-weight: 700;
                }
                h4 {
                    color: #549337;
                    font-size: 15px;
                    font-weight: 500;
                }
            }


            p {
                padding-top: 20px;
                text-align: justify;
                font-size: 18px;
                font-weight: 400;
                padding-bottom: 35px;
            }
        }

        ul {
            display: flex;
            margin: 25px 0 0 0;
            .index-article__items {
                width: 40%;
            }
            .index-article__item2 {
                width: 100%;
            }
            li {
                display: flex;
                p {
                    font-size: 15px;
                    font-weight: 400;
                }
                .index-article-item1 {
                    display: flex;
                    a {
                        display: inherit;
                        align-items: center;
                        margin-right: 10px;
                    }
                    svg {
                        margin-right: 5px;
                        justify-content: center;
                    }
                    span {
                            color: #000;
                            font-size: 18px;
                            font-weight: 400;
                            font-family: Tilda Sans VF;
                        }
                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        border: none;
                        background-color: transparent;

                    }
                }
                .index-article-item2 {
                    display: flex;
                    margin-top: 10px;
                    a {
                        display: inherit;
                        align-items: center;
                    }
                }
            }

        }

    }
}
/*______________________________gr2---------------------------------------*/
