

.page__recipe-search {
  padding: 120px 15px 30px 15px;
}
.search__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-header__title {
    float: left;
    margin-left: 10%;

    h1 {
        color: #2F2929;
        font-size: 30px;
        font-weight: 700;
    }
}

.search-header__btn {
    display: inherit;
    float: right;
    margin-right: 10%;
    align-items: center;

}
.search-header__btn-text {
    color: #2F2929;
    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
}


.search__form {
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;

    input {
        height: 40px;
        width: 60%;
        border-radius: 90px;
        border: 2px solid rgba(47, 41, 41, 0.50);
        background: rgba(255, 255, 255, 0.61);
        padding: 10px 20px 10px 20px;
        /* Текст */
        color: #2F2929;
        text-align: center;
        font-size: 15px;
        font-weight: 400;

    }
}

.search-form__btn-clear {
    display: flex;
    align-items: center;
    position: relative;
    margin: 25px 0 15px 50px;
    h1 {
        /* Текст */
        color: #2F2929;
        font-size: 24px;
        font-weight: 600;
    }
}
.recipe-search__content {
    display: flex;
    justify-content: center;
}

.advertising {
    border-radius: 26px;
    background: #D9D9D9;
    width: 12%;
    height: 500px;
    flex-shrink: 0;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.search__field {
    margin: 0 20px;
    max-width: 1280px;
}
.search-form__container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.search__form-content {
    display: flex;
    flex-direction: column;
    border-radius: 26px;
    width: 100%;
    padding: 20px 0 20px 0;
    background: var(--default-white, #FFF);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
}

.search__form-ingredients {
    display: flex;
    justify-content: center;

    input {
        height: 33px;
        width: 60%;
        border-radius: 90px;
        border: 2px solid rgba(47, 41, 41, 0.50);
        background: rgba(255, 255, 255, 0.61);
        padding: 10px 20px 10px 20px;
        /* Текст */
        color: #2F2929;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
    }
}
.search-field__choice {
    h3 {
        color: #2F2929;
        font-size: 18px;
        font-weight: 500;
        margin: 15px 0 10px 190px;
    }
}

.ingredient-button {
    border-radius: 4px;
    background: var(--secondary-color, #6C757D);
    padding: 4px 8px;
    border: none;
    height: 30px;
    margin: 3px 3px;
    /* Текст */
    color: var(--default-white, #FFF);
    font-size: 15px;
    font-weight: 600;
}
.available-ingredients {
    display: flex;
    margin: 0 40px 15px 40px;
    flex-wrap: wrap;
    height: 70px;
    line-clamp: 2;
    overflow: hidden;
}
.ingredients__container {
    display: flex;
    margin: 0 40px;
    min-height: 80px;

}
.ingredients__container-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid gray;
    h3 {
        width: 100px;
        margin: 5px 5px 0 0;
        white-space: nowrap;
    }
    button {
        border-radius: 6px;
        background: #6BB420;
        height: 30px;
        border: none;
        margin-top: 10px;
        color: var(--default-white, #FFF);
        font-size: 16px;
        font-weight: 600;
        padding: 5px 10px;
    }
}

.selected-ingredients {}

.ingredient__coincidence {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    border-left: 1px solid gray;
    label {
    display: flex;
    white-space: nowrap;
        input {
            width: 16px;
            height: 16px;
            margin-right: 0.3vw;/* 5px */
            margin-bottom: 15px;
        }
        p {
        color: var(--gray-800, #343A40);
        font-size: 16px;
        font-weight: 400;
        }
    }
    button {
        border-radius: 6px;
        background: #6BB420;
        width: 130px;
        height: 30px;
        border: none;
        color: var(--default-white, #FFF);
        font-size: 16px;
        font-weight: 600;
    }
}



.search__parameters {
    display: flex;
    margin: 20px 0 0 0;
    align-items: center;
    justify-content: center;
    input {
        border-radius: 6px;
        background: #6BB420;
        margin-left: 20px;

        color: var(--default-white, #FFF);
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        border: none;
        width: 100px;
        height: 30px;
    }
}
/*.difficulty-container,*/
.sorting__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 26px;
    padding: 20px 0 20px 0;
    background: var(--default-white, #FFF);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
    margin-left: 10px;
    height: fit-content;
    select {
        display: flex;
        margin: 0 10px 5px 10px;
        width: 200px;
        height: 35px;
        border-radius: 4px;
        background: var(--default-white, #FFF);
        color: #000;
        font-size: 17px;
        font-family: 'Tilda Sans VF';
        line-height: 1;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
        font-weight: 400;
        padding-left: 10px;
    }

}
.parameters__name-box {
    display: flex;
    width: 200px;
    height: 35px;
    border-radius: 4px;
    background: var(--default-white, #FFF);
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    margin: 0 10px 5px 10px;
    label {
        color: #2F2929;
        font-size: 18px;
        font-weight: 500;
    }
}
.time-container {
    padding-bottom: 20px;
}

.article-content__title-and-grids {
    display: flex;
    flex-wrap: nowrap;
    margin: 50px 80px 0 50px;

    .article-content__btn-grids {
        display: flex;
        margin-left: auto;
        pointer-events: none;

        span {
          display: flex;
          align-items: center;
          background-color: #fff;
          padding: .5rem;
          margin-left: 5px;
          border-radius: 2px;
          cursor: pointer;
          pointer-events: auto;
          &.active {
              display: flex;
              align-items: center;
              background-color: #6BB420;
              padding: 0.5rem;
              margin-left: 5px;
              border-radius: 2px;
              cursor: default;
              pointer-events: none;
              & svg {
                fill: #fff;
              }
          }
        svg {
            fill: #000;
            pointer-events: none;
        }
    }
    }
}

.article-content__container {
    display: flex;
    flex-wrap: wrap;
    &.active-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        @import "recipe_card.scss";
    }
    &.active-2{
        display: flex;
        flex-direction: row;
        @import "recipe_card-grid2.scss"
    }
    &.active-3{
        display: flex;
        @import "recipe_card-grid3.scss"
    }
}





