@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max) {
  $k: ($f-max - $f-min)/($v-max - $v-min);
  $b: $f-min - $k * $v-min;

  $b: $b * 1px;

  @return calc( #{$k} * 100vw + #{$b} );
}


@media screen and (max-width: 768px) {
   .index-article__img {
        img {
            width: calcFluidFontSize(100, 300, 320, 768) !important;
            border-radius: calcFluidFontSize(20, 52, 320, 768) 0 0 calcFluidFontSize(20, 52, 320, 768) !important;
        }
   }
   .index-article__text {
        -webkit-line-clamp: 4 !important;
   }
   .index-article-section {
    padding: 20px !important;
   }
   .index-article-item1 {
        svg {
            margin-right: 3px !important;
            width: 24px !important;
            height: 24px !important;
        }
   }
    .index-article__header {
        h1 {
            font-size: 20px !important;
        }
    }
}
@media screen and (max-width: 620px) {
    .index-article__header {
        h1 {
            font-size: calcFluidFontSize(12, 20, 320, 620) !important;
        }
    }
    .index-article__text {
        font-size: calcFluidFontSize(10, 18, 320, 620) !important;
        padding-top: 10px !important;
    }
    .index-item__image {
        margin-right: 5px !important;
    }

            .index__article-content {
                /*width: calcFluidFontSize(320, 620, 320, 620) !important;*/
                margin: 10px 0 0 0 !important;
            }
    .index-article-item1 {
        svg {
            width: calcFluidFontSize(14, 24, 320, 620) !important;
            height: calcFluidFontSize(14, 24, 320, 620) !important;
        }
    }
    .index-article__list {
        margin: calcFluidFontSize(10, 20, 320, 620) 5px !important;
    }
    .index-item_ingredients {
        font-size: calcFluidFontSize(6, 15, 320, 620) !important;
    }
    .index-article-section {
        padding: calcFluidFontSize(10, 20, 320, 620) !important;
    }
    .index__article-content {
        border-radius: calcFluidFontSize(20, 52, 320, 620) !important;
    }
    .comment-sum, .save-sum {
        font-size: calcFluidFontSize(10, 18, 320, 620) !important;
    }
    .index-article_content-block {
        padding-bottom: 0 !important;
    }
}
/*@media screen and (max-width: 320px) {

    .article-content__container {
        &.active-1 {
            width: 300px !important;
        }
    }
}*/
.index__article-content {
    display: flex;
    border-radius: 52px;
    border: 1px solid #CBC8C8;
    background: #FDF5F5;
    margin: 15px 0;
    width: 100%;


    .index-article__img {
        img {
            border-radius: 52px 0 0 52px;
              width: 330px;
              height: 100%;
        }
    }
    .index-article-section {

        padding: 36px 37px 35px 58px;
        width: 100%;

        .index-article_content-block {
            padding-bottom: 35px;


            .index-article__header {
                display: flex;
                flex-direction: column;
                h1 {
                    text-align: justify;
                    font-size: 24px;
                    font-weight: 700;
                }
                h4 {
                    color: #549337;
                    font-size: 15px;
                    font-weight: 500;
                    margin-left: auto;
                }
            }


            p {
                padding-top: 20px;
                text-align: justify;
                font-size: 18px;
                font-weight: 400;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 6;
                -webkit-box-orient: vertical;
                /*height: 129px;*/
            }
        }

        ul {
            display: flex;
            .index-article__items {
                width: 40%;
            }
            .index-article__item2 {
                width: 100%;
                padding-left: 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                /*height: 45px;*/
                p {
                    color: #000;
                    font-size: 15px;
                    font-weight: 400;
                }
            }
            li {
                display: flex;
                .index-article-item1 {
                    display: flex;
                    a {
                        display: inherit;
                        align-items: center;
                        margin-right: 10px;
                    }
                    svg {
                        margin-right: 5px;
                        justify-content: center;
                    }
                    span {
                            color: #000;
                            font-size: 18px;
                            font-weight: 400;
                            font-family: Tilda Sans VF;
                        }
                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        border: none;
                        background-color: transparent;

                    }
                }
                .index-article-item2 {
                    display: flex;
                    margin-top: 10px;
                    a {
                        display: inherit;
                        align-items: center;
                    }
                }
            }

        }

    }
}
/*______________________________gr2---------------------------------------*/
