/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */

:root{
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.header{
    background-color: #493F3F;
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
}

.header-area {
    display: flex;
    justify-content: space-between;
    height: 80px;
}
/* Logo */
.nav-logo{
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
}
.nav-logo a {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0em;
    padding: 0px 5px 0px 5px;
}

/*Search Wrap*/
.search-wrap {
    display: none;
    align-items: center;
    overflow: hidden;
    width: auto;
    text-align: left;
}
.search-wrap form {
    position: relative;
    height: 30px;
    background: #fff;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
}
.search-wrap input[type="text"] {
    width: 100%;
    height: 30px;
    outline:none;
    color: #606060;
    font: 16px 'Source Sans Pro';
    padding: 10px 19px;
    border: 0;
    background: transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.search-wrap form input[type="submit"] {
    cursor: pointer;
    width: 18px;
    height: 18px;
    padding: 0;
    border: 0;
    background: url("{% static 'img/search_icon.png' %}") no-repeat center center;
    background-size: auto 18px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.search-wrap form input[type="submit"] {
    position: absolute;
    top: 50%;
    left: 15px;
    margin: -9px 0 0 0;
}

/*Button Login*/
.header-profile {
    display: inline-flex;
    align-items: center;
    margin: 0px 30px 0px 30px;
}
.header-profile a {
    color: #FFF;
    text-decoration: none;
    opacity: 0.65;
    padding: 5px;
    transition: all .07s ease-in-out;
}

.shine-button {
  display: none;
  margin: 10px 5px;
  position: relative;
  text-decoration: none;
  color: #fff;
  overflow: hidden;
  border: 2px solid #7749F8;
  border-radius: 8px;
  background: #493F3F;
  font-family: 'Montserrat', sans-serif;
}
.shine-button:before {
  content: "";
  background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
.shine-button:hover {
  background: #7749F8;
}
.shine-button:hover:before {
  left: 150px;
  transition: .5s ease-in-out;
}
/* Menu Icon */
.hamb{
    cursor: pointer;
    float: left;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */
/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
/* Nav menu */
.nav-menu{
    height: 100%;
    position: fixed;
    overflow: hidden;
    max-height: 0;
    margin-top: 80px;
    transition: max-height .5s ease-out;
    z-index: 1;
    background-color: #493F3F;

}
.menu a{
    display: block;
    color: var(--white);
}
.menu a:hover{
    background-color: var(--gray);
}
.menu li#menu-auth {
        display: inherit;
    }
.profile-button {
    display: flex;
}
/* Responsiveness */

 @media screen and (min-width: 768px) {
    .nav-menu{
        max-height: none;
        top: 0;
        margin: 0;
        position: relative;
        width: fit-content;
        margin-left: 30px;
        margin-right: 15px;
    }
    .menu li{
        float: left;
    }
    .menu a {
        padding: 30px 15px 30px 15px;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);

    }
    .menu li#menu-auth {
        display: none;
    }
    .hamb{
        display: none;
    }

    .header-area {
    /* Для выравнивания меню по центру */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    .profile-button {
        display: flex;
    }
    .shine-button {
        display: none;
    }
 }


     @media screen and (min-width: 1024px) {
        .search-wrap {
            display: flex;
        }
    }
    @media screen and (min-width: 1366px) {
        .search-wrap {
            display: flex;
        }
        .menu a {
            padding: 28px;
        }

        .profile-button {
            display: none;
        }
        .shine-button {
            display: inline-block;
        }
    }