.page__collections_detail {
  padding: 120px 15px 30px 15px; }

.article-content__title-and-grids {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 30px;
  justify-content: space-between;
  width: 100%; }
  .article-content__title-and-grids .btn_back a {
    display: flex;
    align-items: center;
    color: rgba(47, 41, 41, 0.54);
    font-size: 18px;
    font-weight: 800;
    line-height: 40px;
    /* 200% */
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer; }
    .article-content__title-and-grids .btn_back a svg {
      margin-right: 5px; }
    .article-content__title-and-grids .btn_back a:hover {
      color: #000; }
  .article-content__title-and-grids .article-content__btn-grids {
    display: flex;
    pointer-events: none; }
    .article-content__title-and-grids .article-content__btn-grids span {
      display: flex;
      align-items: center;
      background-color: #fff;
      padding: .5rem;
      margin-left: 5px;
      border-radius: 2px;
      cursor: pointer;
      pointer-events: auto; }
      .article-content__title-and-grids .article-content__btn-grids span.active {
        display: flex;
        align-items: center;
        background-color: #6BB420;
        padding: 0.5rem;
        margin-left: 5px;
        border-radius: 2px;
        cursor: default;
        pointer-events: none; }
        .article-content__title-and-grids .article-content__btn-grids span.active svg {
          fill: #fff; }
      .article-content__title-and-grids .article-content__btn-grids span svg {
        fill: #000;
        pointer-events: none; }

.search-header__title {
  display: flex;
  align-items: center;
  justify-content: center; }
  .search-header__title h1 {
    margin-right: 10px; }
  .search-header__title svg {
    pointer-events: none; }
  .search-header__title a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(217, 217, 217, 0.85);
    display: flex;
    align-items: center;
    color: gray;
    justify-content: center; }
    .search-header__title a:hover {
      color: #fff;
      background: gray; }

.article-content__container {
  display: flex;
  flex-wrap: wrap; }
  .article-content__container.active-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*______________________________gr2---------------------------------------*/ }
    .article-content__container.active-1 .index__article-content {
      display: flex;
      border-radius: 52px;
      border: 1px solid #CBC8C8;
      background: #FDF5F5;
      height: 300px;
      margin: 15px 0;
      width: 100%; }
      .article-content__container.active-1 .index__article-content .index-article__img img {
        border-radius: 52px 0 0 52px;
        width: 400px;
        height: 100%; }
      .article-content__container.active-1 .index__article-content .index-article-section {
        padding: 36px 37px 35px 58px;
        width: 100%; }
        .article-content__container.active-1 .index__article-content .index-article-section .index-article_content-block {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 6;
          -webkit-box-orient: vertical;
          height: 153px; }
          .article-content__container.active-1 .index__article-content .index-article-section .index-article_content-block .index-article__header {
            display: flex;
            justify-content: space-between; }
            .article-content__container.active-1 .index__article-content .index-article-section .index-article_content-block .index-article__header h1 {
              text-align: justify;
              font-size: 24px;
              font-weight: 700; }
            .article-content__container.active-1 .index__article-content .index-article-section .index-article_content-block .index-article__header h4 {
              color: #549337;
              font-size: 15px;
              font-weight: 500; }
          .article-content__container.active-1 .index__article-content .index-article-section .index-article_content-block p {
            padding-top: 20px;
            text-align: justify;
            font-size: 18px;
            font-weight: 400;
            padding-bottom: 35px; }
        .article-content__container.active-1 .index__article-content .index-article-section ul {
          display: flex;
          margin: 25px 0 0 0; }
          .article-content__container.active-1 .index__article-content .index-article-section ul .index-article__items {
            width: 40%; }
          .article-content__container.active-1 .index__article-content .index-article-section ul .index-article__item2 {
            width: 100%; }
          .article-content__container.active-1 .index__article-content .index-article-section ul li {
            display: flex; }
            .article-content__container.active-1 .index__article-content .index-article-section ul li p {
              font-size: 15px;
              font-weight: 400; }
            .article-content__container.active-1 .index__article-content .index-article-section ul li .index-article-item1 {
              display: flex; }
              .article-content__container.active-1 .index__article-content .index-article-section ul li .index-article-item1 a {
                display: inherit;
                align-items: center;
                margin-right: 10px; }
              .article-content__container.active-1 .index__article-content .index-article-section ul li .index-article-item1 svg {
                margin-right: 5px;
                justify-content: center; }
              .article-content__container.active-1 .index__article-content .index-article-section ul li .index-article-item1 span {
                color: #000;
                font-size: 18px;
                font-weight: 400;
                font-family: Tilda Sans VF; }
              .article-content__container.active-1 .index__article-content .index-article-section ul li .index-article-item1 button {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border: none;
                background-color: transparent; }
            .article-content__container.active-1 .index__article-content .index-article-section ul li .index-article-item2 {
              display: flex;
              margin-top: 10px; }
              .article-content__container.active-1 .index__article-content .index-article-section ul li .index-article-item2 a {
                display: inherit;
                align-items: center; }
  .article-content__container.active-2 {
    display: flex;
    flex-direction: row; }
    .article-content__container.active-2 .index__article-content {
      display: flex;
      border-radius: 52px;
      border: 1px solid #CBC8C8;
      background: #FDF5F5;
      height: 250px;
      margin: 6px 6px;
      width: 48.8%;
      min-width: 530px; }
      .article-content__container.active-2 .index__article-content .index-article__header {
        display: flex;
        justify-content: space-between; }
        .article-content__container.active-2 .index__article-content .index-article__header h1 {
          text-align: justify;
          font-size: 24px;
          font-weight: 700; }
        .article-content__container.active-2 .index__article-content .index-article__header h4 {
          color: #549337;
          text-align: center;
          padding-left: 15px;
          font-size: 15px;
          font-weight: 500; }
      .article-content__container.active-2 .index__article-content .index-article__img img {
        border-radius: 52px 0 0 52px;
        width: 250px;
        height: 100%; }
      .article-content__container.active-2 .index__article-content .index-article-section {
        padding: 15px 15px 15px 15px; }
        .article-content__container.active-2 .index__article-content .index-article-section .index-article_content-block {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 7;
          -webkit-box-orient: vertical;
          height: 157px; }
          .article-content__container.active-2 .index__article-content .index-article-section .index-article_content-block h1 {
            text-align: justify;
            font-size: 20px;
            font-weight: 700; }
          .article-content__container.active-2 .index__article-content .index-article-section .index-article_content-block p {
            padding-top: 10px;
            text-align: justify;
            font-size: 18px;
            font-weight: 400; }
        .article-content__container.active-2 .index__article-content .index-article-section ul {
          display: flex;
          padding-top: 10px;
          height: 63px; }
          .article-content__container.active-2 .index__article-content .index-article-section ul .index-article__items {
            width: 40%; }
          .article-content__container.active-2 .index__article-content .index-article-section ul .index-article__item2 {
            width: 100%;
            padding-left: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            height: 45px; }
          .article-content__container.active-2 .index__article-content .index-article-section ul li {
            display: flex; }
            .article-content__container.active-2 .index__article-content .index-article-section ul li p {
              font-size: 15px;
              font-weight: 400; }
            .article-content__container.active-2 .index__article-content .index-article-section ul li .index-article-item1 {
              display: flex; }
              .article-content__container.active-2 .index__article-content .index-article-section ul li .index-article-item1 a {
                display: inherit;
                align-items: center;
                margin-right: 10px; }
                .article-content__container.active-2 .index__article-content .index-article-section ul li .index-article-item1 a svg {
                  margin-right: 5px; }
              .article-content__container.active-2 .index__article-content .index-article-section ul li .index-article-item1 svg {
                justify-content: center;
                width: 24px;
                height: 24px; }
              .article-content__container.active-2 .index__article-content .index-article-section ul li .index-article-item1 span {
                color: #000;
                font-size: 18px;
                font-weight: 400;
                font-family: Tilda Sans VF; }
              .article-content__container.active-2 .index__article-content .index-article-section ul li .index-article-item1 button {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border: none;
                background-color: transparent; }
            .article-content__container.active-2 .index__article-content .index-article-section ul li .index-article-item2 {
              display: flex;
              margin-top: 10px; }
              .article-content__container.active-2 .index__article-content .index-article-section ul li .index-article-item2 a {
                display: inherit;
                align-items: center; }
  .article-content__container.active-3 {
    display: flex; }
    .article-content__container.active-3 .index__article-content {
      display: flex;
      border-radius: 52px;
      border: 1px solid #CBC8C8;
      background: #FDF5F5;
      margin: 6px 6px;
      height: auto;
      width: 32.342%;
      flex-direction: column; }
      .article-content__container.active-3 .index__article-content .index-article__img img {
        border-radius: 52px 52px 0 0;
        width: 100%;
        height: 300px; }
      .article-content__container.active-3 .index__article-content .index-article-section {
        padding: 15px 15px 15px 15px; }
        .article-content__container.active-3 .index__article-content .index-article-section .index-article_content-block {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 7;
          -webkit-box-orient: vertical;
          height: 52.5%; }
          .article-content__container.active-3 .index__article-content .index-article-section .index-article_content-block h1 {
            text-align: justify;
            font-size: 18px;
            font-weight: 700; }
          .article-content__container.active-3 .index__article-content .index-article-section .index-article_content-block p {
            padding-top: 10px;
            text-align: justify;
            font-size: 14px;
            font-weight: 400; }
        .article-content__container.active-3 .index__article-content .index-article-section ul {
          display: flex;
          margin: 15px 0 0 0; }
          .article-content__container.active-3 .index__article-content .index-article-section ul .index-article__item1 {
            width: 30%; }
          .article-content__container.active-3 .index__article-content .index-article-section ul .index-article__item2 {
            width: 70%; }
            .article-content__container.active-3 .index__article-content .index-article-section ul .index-article__item2 p {
              text-align: right;
              font-size: 10px;
              font-weight: 400; }
          .article-content__container.active-3 .index__article-content .index-article-section ul li {
            display: block;
            width: 100%; }
            .article-content__container.active-3 .index__article-content .index-article-section ul li .index-article-item1 {
              display: flex; }
              .article-content__container.active-3 .index__article-content .index-article-section ul li .index-article-item1 a {
                display: inherit;
                align-items: center;
                margin-right: 5px;
                font-size: 10px; }
              .article-content__container.active-3 .index__article-content .index-article-section ul li .index-article-item1 img {
                margin-right: 5px;
                justify-content: center; }
            .article-content__container.active-3 .index__article-content .index-article-section ul li .index-article-item2 {
              display: flex;
              margin-top: 5px; }
              .article-content__container.active-3 .index__article-content .index-article-section ul li .index-article-item2 a {
                display: inherit;
                align-items: center;
                font-size: 14px; }

.search__header {
  display: flex;
  justify-content: space-between; }

.search-header__btn {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: #303030;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  color: rgba(47, 41, 41, 0.54);
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px; }
  .search-header__btn a {
    color: rgba(47, 41, 41, 0.54);
    margin-top: 20px; }
    .search-header__btn a:hover {
      color: #000; }

/*# sourceMappingURL=collections_detail.css.map */
