/*Page Index*/

.page_index {
    display: flex;
    max-width: 100%;
    margin: 0px 30px;
    height: auto;
    position: relative;
    border-radius: 41px;
    background: var(--default-white, #FFF);
    box-shadow: 0px 0px 31px -4px rgba(73, 63, 63, 0.60);
    flex-wrap: wrap;
}

.header__index {
    width: 50%;
    padding: 30px;
}
.header-image-section {
    display: block;
    width: 50%;


}
.index-article {
    width: 100%;
}

.header-image-item {
    width: -moz-available;
    width: -webkit-fill-available;
    position: relative;
    top: -20px;
    right: -20px;
}
@media (max-width: 1024px) {

}

.header__index-title {
    color: #2F2929;
    text-align: center;
    font-family: Tilda Sans VF;
    font-size: calc(16px + 16 * (100vw / 1280));
    font-style: normal;
    font-weight: 700;
    line-height: 134.5%;

}
q {
    quotes: "\00ab" "\00bb";
/* Кавычки в виде двойных угловых скобок */

   }
.header__index-text {
    color: #6BB420;
    font-family: Tilda Sans VF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 40px;
}
.header__index-title--h3 {
color: #2F2929;
text-align: center;
font-family: Tilda Sans VF;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 50px;
margin-bottom: 20px;
}
.header__index-link {
    height: 40px;
    width: 100%;
    border-radius: 90px;
    border: 1px solid rgba(47, 41, 41, 0.50);
    background: rgba(255, 255, 255, 0.61);
    padding: 10px 20px 10px 20px;
}
.header__index-item {
    display: flex;
    align-items: center;
    margin-left: 10%;
    padding-bottom: 20px;
}
.header__index-item-text {
    padding-left: 20px;
    color: #2F2929;
    font-family: Tilda Sans VF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}
.header__index-list {
    margin-top: 30px;
}
/*
.index-article__img {
    display: flex;
    justify-content: center;
}
.article-image-background {
    position: absolute;
    top: 630px;
    left: -60px;
    max-width: 25%;
}*/
