.comment__container {
  display: flex;
  align-items: center;
  border-radius: 52px;
  border: 1px solid #CBC8C8;
  background: #FDF5F5;
  padding: 20px;
  margin-top: 10px;
  width: 100%; }
  .comment__container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px; }
  .comment__container .comment__content {
    width: 100%; }
    .comment__container .comment__content .comment__header {
      display: flex;
      justify-content: space-between; }
      .comment__container .comment__content .comment__header .comment__date {
        margin-right: 20px;
        color: rgba(0, 0, 0, 0.3);
        leading-trim: both;
        text-edge: cap;
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        /* 166.667% */
        letter-spacing: 1px; }
      .comment__container .comment__content .comment__header .comment__nickname {
        color: #2F2929;
        leading-trim: both;
        text-edge: cap;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        /* 136.364% */
        letter-spacing: 1px; }
    .comment__container .comment__content .comment__text {
      padding: 7px 0;
      color: #2F2929;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      /* 150% */
      letter-spacing: 1px; }
    .comment__container .comment__content .comment__functions {
      display: flex;
      justify-content: flex-end;
      margin-right: 20px;
      align-items: center; }
      .comment__container .comment__content .comment__functions .like {
        display: flex;
        align-items: center;
        margin-left: 10px; }
        .comment__container .comment__content .comment__functions .like p {
          width: 30px;
          color: rgba(0, 0, 0, 0.15);
          font-size: 16px;
          font-weight: 500;
          line-height: 30px;
          /* 150% */
          letter-spacing: 1px;
          margin-left: 5px; }

.reply__comment {
  width: 90%;
  margin-left: auto; }

.btn-standart {
  border-radius: 6px;
  background: #6BB420;
  height: 30px;
  border: none;
  margin-top: 5px;
  margin-bottom: 10px;
  color: var(--default-white, #FFF);
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
  margin-left: 50px; }

/*Page recept*/
.page__recept {
  margin: 0 auto;
  width: 90%;
  height: auto;
  background-color: #fdf5f5;
  border-radius: 52px;
  border: 1px solid #CBC8C8;
  margin-top: 30px;
  margin-bottom: 30px; }

.hero {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  column-gap: 0.5em;
  row-gap: 0.5em; }

.hero__container {
  padding: 30px 50px 30px 30px; }

.ingredients {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5em;
  row-gap: 0.5em; }

.hero__img {
  width: 100%;
  height: 100%;
  border-radius: 52px; }

.hero__text {
  font-family: 'Tilda Sans VF';
  font-size: 18px;
  line-height: 20px;
  color: #000000; }

.hero__title {
  font-family: 'Tilda Sans VF';
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 28px;
  color: #000000; }

.ingredients__title {
  font-family: 'Tilda Sans VF';
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  padding-bottom: 20px; }

.sections__list-item {
  font-family: 'Tilda Sans VF';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  color: #000000;
  padding: 0px 0px 0px 50px; }

.instruction-title {
  font-family: 'Tilda Sans VF';
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 28px;
  color: #000000;
  padding-left: 15%;
  padding-bottom: 20px; }

.instructions {
  padding: 0; }

.btn__back {
  display: flex;
  margin-top: 120px;
  padding-left: 5%; }

.btn-back__text {
  font-family: 'Tilda Sans VF';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  padding: 10px 10px 10px 30px;
  color: #000000; }

.hero__list {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  column-gap: 2em;
  row-gap: 2em; }

.hero_item_ingredients {
  font-family: 'Tilda Sans VF';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000; }

.hero_item-favorites {
  font-family: 'Tilda Sans VF';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #000000; }

.favorites_values {
  font-family: 'Tilda Sans VF';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000; }

.btn__favorites-items {
  padding-left: 20px; }

.btn__favorites-list {
  margin-bottom: 20px;
  padding-left: 15%;
  display: flex; }

.hr-line {
  margin: 20px 0;
  padding: 0;
  height: 0;
  border: none;
  border-top: 1px solid #cbc8c8;
  width: 80%;
  margin-right: auto;
  margin-left: auto; }

.instructions__container {
  border-radius: 0 0 52px 52px; }

.instructions__btn {
  display: flex;
  justify-content: center;
  align-items: center; }
  .instructions__btn .border-bottom {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #CBC8C8; }
  .instructions__btn span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 70px;
    color: #000;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    border-bottom: 1px solid #CBC8C8; }
    .instructions__btn span.instructions_steps__btn.active {
      border-radius: 30px 30px 0 0;
      border-top: 1px solid #CBC8C8;
      border-left: 1px solid #CBC8C8;
      border-right: 1px solid #CBC8C8;
      border-bottom: none;
      cursor: default; }
    .instructions__btn span.instructions_steps-list-btn.active {
      border-radius: 30px 30px 0 0;
      border-top: 1px solid #CBC8C8;
      border-left: 1px solid #CBC8C8;
      border-right: 1px solid #CBC8C8;
      border-bottom: none;
      cursor: default; }

.instructions__container {
  padding: 20px 20px 0 20px; }

.instructions_steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px; }

.instructions_steps-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #CBC8C8;
  padding: 25px; }

.instructions_steps-img {
  width: 350px;
  height: 200px; }
  .instructions_steps-img img {
    border-radius: 58px;
    width: 350px;
    height: 200px;
    border: 2px solid #CBC8C8; }

.instructions_steps-list {
  display: flex;
  width: 100%;
  padding: 25px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 167%;
  /* 36.74px */ }

.instructions_briefly {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 80px 30px 80px; }
  .instructions_briefly .instructions_steps-list {
    padding: 5px 5px 5px 5px !important; }

.recipe__comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 30px auto;
  width: 70%; }
  .recipe__comments textarea {
    width: 100%;
    height: 200px;
    padding: 30px;
    border-radius: 52px;
    border: 1px solid #CBC8C8;
    background: #FDF5F5; }

/*# sourceMappingURL=recipe_detail.css.map */
