@charset "UTF-8";
.page__recipe-search {
  margin: 120px 0 30px 0; }

.search__header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.search-header__title {
  float: left;
  margin: 0px 0px 0px 12.5vw; }
  .search-header__title h1 {
    color: #2F2929;
    font-size: 2.6vw;
    /* 50px */
    font-weight: 700; }

.search-header__btn {
  display: inherit;
  float: right;
  margin: 0px 9.1vw 0px 0;
  align-items: center; }

.search-header__btn-text {
  color: #2F2929;
  font-size: 1.3vw;
  /* 25px */
  font-weight: 500;
  padding-left: 10px; }

.search__form {
  display: flex;
  justify-content: center;
  margin: 3.2vw 0 0 0;
  /* 62px */ }
  .search__form input {
    height: 3.2vw;
    /* 63px */
    width: 80%;
    border-radius: 90px;
    border: 2px solid rgba(47, 41, 41, 0.5);
    background: rgba(255, 255, 255, 0.61);
    padding: 10px 20px 10px 20px;
    /* Текст */
    color: #2F2929;
    text-align: center;
    font-size: 1.4vw;
    /* 26px */
    font-weight: 400; }

.search-form__btn-clear {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.8vw 0 1.4vw 0; }
  .search-form__btn-clear h1 {
    margin-left: 19.5vw;
    /* 375px */
    /* Текст */
    color: #2F2929;
    font-size: 1.6vw;
    /* 30px */
    font-weight: 600; }
  .search-form__btn-clear button {
    margin-right: 19.5vw;
    /* 375px */
    border-radius: 0.3vw;
    /* 6px */
    background: #6BB420;
    border: none;
    width: 10.2vw;
    /* 196px */
    height: 2.3vw;
    /* 45px */
    /* Текст */
    color: var(--default-white, #FFF);
    font-size: 1.1vw;
    /* 22px */
    font-weight: 600; }

.recipe-search__content {
  display: flex; }

.advertising {
  border-radius: 3.0vw;
  /* 58px */
  background: #D9D9D9;
  width: 10.1vw;
  /* 193.238px */
  height: 39.9vw;
  flex-shrink: 0;
  margin: 0 3.4vw;
  /* 66px */ }
  .advertising img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.search__field {
  width: 100%;
  height: auto; }

.search__form-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 26px;
  padding: 2.2vw 0 3vw 0;
  background: var(--default-white, #FFF);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12); }

.search__form-ingredients {
  display: flex;
  justify-content: center; }
  .search__form-ingredients input {
    height: 2.5vw;
    /* 48px */
    width: 75%;
    border-radius: 90px;
    border: 2px solid rgba(47, 41, 41, 0.5);
    background: rgba(255, 255, 255, 0.61);
    padding: 10px 20px 10px 20px;
    /* Текст */
    color: #2F2929;
    text-align: center;
    font-size: 1.1vw;
    /* 22px */
    font-weight: 400; }

.search-field__choice h3 {
  color: #2F2929;
  font-size: 1.1vw;
  /* 22px */
  font-weight: 500;
  margin: 1.5vw 0 1.5vw 12.7vw;
  /* 29px 0 29px 243px */ }

.ingredient-button {
  border-radius: 0.2vw;
  /* 4px */
  background: var(--secondary-color, #6C757D);
  padding: 0.2vw 0.4vw;
  /* 4px 8px */
  border: none;
  height: 2.0vw;
  /* 38px */
  margin: 0 0.3vw 0.8vh 0.3vw;
  /* Текст */
  color: var(--default-white, #FFF);
  font-size: 1.0vw;
  /* 20px */
  font-weight: 600; }

.available-ingredients {
  display: flex;
  margin: 0 4.3vw 3vw 4.3vw;
  flex-wrap: wrap;
  /*  min-height: 7.8vw; */ }

.ingredients__container {
  display: flex;
  margin: 0 4.3vw;
  min-height: 7.8vw;
  /* 150px */ }
  .ingredients__container h3 {
    width: 6.8vw;
    /* 130px */
    margin: 0.3vw 0.3vw 0 0;
    white-space: nowrap; }

.ingredient__coincidence {
  display: inherit;
  margin-left: auto;
  white-space: nowrap;
  align-items: flex-end; }
  .ingredient__coincidence input {
    width: 1.3vw;
    /* 25px */
    height: 1.3vw;
    margin-right: 0.3vw;
    /* 5px */ }
  .ingredient__coincidence p {
    color: var(--gray-800, #343A40);
    font-size: 1.1vw;
    /* 22px */
    font-weight: 400; }

.search__parameters {
  display: flex;
  margin: 2.5vw 0 0 0;
  align-items: center;
  justify-content: center; }

.parameters__name-box {
  display: flex;
  width: 15.6vw;
  /* 300px */
  height: 3.0vw;
  /* 57px */
  border-radius: 6px;
  background: var(--default-white, #FFF);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  margin-right: 2.5vw;
  /* 48px */ }
  .parameters__name-box label {
    color: #2F2929;
    font-size: 1.1vw;
    /* 22px */
    font-weight: 500; }

/*# sourceMappingURL=reciept_search1.css.map */
