@import url("sign.css");
@import url("base.css");
/*@import url("adaptation.css");*/
@import url("fonts.css");
*, *::before, *::after {
  box-sizing: border-box;

}
*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000;
}
ul {
    list-style: none;
}
body{
    background-color: rgba(246, 240, 228, 1);
    font-family: 'Tilda Sans VF';
    line-height: 1;
}

.container {
    display: block;
    width: 100%;
    max-width: 1280px;
    height: auto;
    margin: 0 auto;
}
button[type=submit]:hover {
    color: #ccc !important;
    background: #6BB420;
    background: linear-gradient(to top, #6BB420, #0a9e0d);
}
button[type=button]:hover {
    background: linear-gradient(to top, #6c757d, #818a92);
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}



