
@import url("login.css");
@import url("fonts.css");
*, *::before, *::after {
  box-sizing: border-box;
}


.container {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}





